//Borrowed from Twitter Bootstrap, http://twitter.github.com/bootstrap
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

//Borrowed from Twitter Bootstrap, http://twitter.github.com/bootstrap
.translate(@x: 0, @y: 0) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}

.radial-gradient(@color1, @color2){
	background: -moz-radial-gradient( circle closest-side, @color1,@color2 );
	background: -o-radial-gradient( circle closest-side, @color1,@color2 );
	background: -webkit-radial-gradient( circle closest-side, @color1,@color2 );
	background: radial-gradient( circle closest-side, @color1,@color2 );
}

.focus-overlay( @bg-color, @width, @height, @iconOffset, @fallbackImage:'' ){
	.leaflet-focus-overlay{
		height: @height*3;
		width: @width*5;
		margin-left: -((@width*5)/2);
		margin-top: -((@height*3)/2) + @iconOffset;
		position: absolute;
		z-index: 400;
		-webkit-transition: opacity 250ms ease;
		-moz-transition: opacity 250ms ease;
		-ms-transition: opacity 250ms ease;
		-o-transition: opacity 250ms ease;
		transition: opacity 250ms ease;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);

		[class^="overlay-"]{
			background: @bg-color;
			float: left;
		}
		.overlay-top, .overlay-middle, .overlay-bottom{
			display: block;
			height: @height;
			width: @width*5;
		}
		.overlay-left, .overlay-right{
			height: @height;
			width: @width*2;
		}
		.overlay-middle, .overlay-center{
			background: transparent;
		}
		.overlay-center{
			background: url(@fallbackImage) no-repeat center center;
			.radial-gradient(rgba(0,0,0,0), @bg-color);
			height: @height;
			width: @width;
		}
		&.add-transition{
			-webkit-transition: all 250ms ease;
			-moz-transition: all 250ms ease;
			-ms-transition: all 250ms ease;
			-o-transition: all 250ms ease;
			transition: all 250ms ease;
		}
	}
}

.focus-overlay(rgba(0,0,0,.5), 550px, 550px, -68px, 'example/overlay-small.png');
